*,
*::before
*::after{
    box-sizing: border-box;
}

body{
    margin:0px;
    background-color: #0f4e46;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: black;
}

/* HEADER */

.header-hidden{
    height:50px;
    width: 100%;
}

.header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #18a493;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px #58aca2;  
    opacity:0.4;
    transition: opacity 0.2s linear;
}

.header:hover{
    opacity: 1;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: bolder;
    position: relative;
    margin-left: 11px;
    }

.logo::after{
    content: "";
    display: block;
    width: 113px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 1px;
    bottom: -1px;
}

.logo::before{
    content: "";
    display: block;
    width: 113px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 1px;
    top: 0px;
}

.logo-link{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* NAVIGATION */

.nav{
    font-size: 20px;
    margin-left: 262px;

}

.nav-btn-a{
    border-left: 2px solid black;
    color:black;
    padding: 8px 13px 8px 10px;
    margin-left: 0px;
    margin-right: -8px;
    
    text-decoration: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: background 0.2s linear, color 0.2s linear;
}

.nav-btn{
    border-left: 1px solid black;
    color: black;
    padding: 8px 12px 8px 10px;
    margin-left: 0px;
    margin-right: -8px;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear;
}

.nav-btn-l{
    border-left: 1px solid black;
    border-right: 2px solid black;
    color: #e8e8e8;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    background-color: #008373;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-btn:hover,
.nav-btn-a:hover{
    background-color: #008373;
    color: #e8e8e8;
    
}

.contacts{
    font-size: 20px;
    color:black;
    text-decoration: none;
    margin-right: 11px;
}

.contacts-tel{
    font-size: 20px;
    color:black;
    text-decoration: none;
    margin-right: 11px;
    border-radius: 15px;
    transition: box-shadow 0.2s linear, background-color 0.2s linear, color 0.2s linear;
}
.contacts-tel:hover{
    box-shadow: 0 0 20px 10px #1ac3ad;
    background-color: #1ac3ad;
    color: #e8e8e8;
}

.contacts-mail{
    font-size: 20px;
    color:black;
    text-decoration: none;
    margin-right: 11px;
    border-radius: 15px;
    transition: box-shadow 0.2s linear, background-color 0.2s linear, color 0.2s linear;
}
.contacts-mail:hover{
    box-shadow: 0 0 20px 10px #1ac3ad;
    background-color: #1ac3ad;
    color: #e8e8e8;
}


.telegram-icon{
    margin: 0px 9px -4px -7px;
    border-radius: 5.5px;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
    
}

.telegram-icon:hover{
    box-shadow: -2px -1px 20px 7px #2fa7da;
    background-color: #2fa7da;
}

.whatsapp-icon{
    margin: 0px 9px -4px -7px;
    border-radius: 5.5px;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
}

.whatsapp-icon:hover{
    box-shadow: -2px -1px 20px 7px #48d552;
    background-color: #48d552;
}

.gmail-icon{
    margin: 0px 9px -4px -7px;
    border-radius: 5.5px;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
}

.gmail-icon:hover{
    box-shadow: -2px -1px 20px 7px #bf211e;
    background-color:#bf211e;
}


/*Main*/

.main{
    margin: 30px auto;
    width: 1450px;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    margin-top: 135px;
    padding-bottom: 12px;
    background-color: #11403a;
    border-radius: 4px;
    padding:0px 10px;
    padding-bottom: 12px;
    
}
.main h1{
    color: #e8e8e8;
    text-align: center;
}

.main h2{
    color: #e8e8e8;
    margin-left: 7px;
}

.main h3{
    color: #e8e8e8;
}



.main p{
    color: #e8e8e8;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 2px;
}

.p1{
    margin-left: 19px;
}
.p2{
    margin-left: 46px;
}
.p3{
    margin-left: 82px;
}

.time{
    color: #e8e8e8;
    font-size: 17px;
    margin-left: 1061px;
}

.time-text{
    text-decoration: underline;
    font-size: 18px;
}

/*Footer*/

footer{
    margin: 30px auto;
    width: 1450px;
    margin-top: 470px; 
    height: 29px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 7px 14px -7px #123833;
}

footer span{
    display: block;
    margin-top: 11px;
    margin-left: 12px;
    margin-bottom: 0px;
}